.postbox ul, .postbox li { list-style-type:disc; margin-left:10px; }
.postbox .inside { padding:0 10px; }

#donate, #like, #recommendations { margin:0 0 10px 10px; background:#fff; }
#donate { border:3px double #eeeeee; }
#donate .hndle { color:green; }
#donate form { text-align:center; margin-bottom:10px; }

#recommendations .inside { padding:10px; }
#recommendations a { margin:0 5px 5px 0; }

#icon-themes { background:transparent url("images/icon32.png") no-repeat 0 0; }