/* 

   Developer: Jake Miller
   Site: http://JakeMiller.me
	
   Original PSD by: Orman Clark
   Site: http://www.premiumpixels.com/freebies/image-orbit-controls-psd/
   
   jQuery Orbit Plugin 1.2.3
   www.ZURB.com/playground
   Copyright 2010, ZURB
   Free to use under the MIT license.
   http://www.opensource.org/licenses/mit-license.php
 
 */
 
 
 
#featured{ 
	width: 650px;
	height: 350px;
	background:#000  url('loading.gif') no-repeat center center;
	overflow: hidden; 
	 -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.75); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.75); /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 7px rgba(0,0,0,0.75); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	
	}
.orbit_slider>img,  
.orbit_slider>div,
.orbit_slider>a { display: none; }




/* CONTAINER */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Note: If your orbit only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */




/* CAPTIONS */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    height:33px;
	z-index: 1000;
    color: #fff;
	text-align: center;
    font-size: 14px;
	font-weight:bold;
	text-shadow: 1px 1px 1px  rgba(0,0,0,0.95);
	filter: dropshadow(color= rgba(0,0,0,0.95), offx=1, offy=1);
	padding-top:11px;
    position: absolute;
    bottom: 28px;
    left: 50%;
    margin-left: -43%; 
    width: 86%; 
	background-image:url(caption-bg.png);
	cursor:default;
	overflow:hidden;
	}

/* DIRECTIONAL NAV */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 51px;
    height: 44px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    bottom: 28px;
    margin-top: -50px;
    cursor: pointer; }
	
	

div.slider-nav span.right {
    background: url(right-arrow.png);
    right: 11px; }
	
	div.slider-nav span.right:hover {
	background-position: 0px -43px;
	right: 11px;
}


div.slider-nav span.left {
    background: url(left-arrow.png);
    left: 11px; }
	
	div.slider-nav span.left:hover {
    background-position: 0px -43px;
	left: 11px; }

